.about {
  background-image: url("../../img/about-mobile@1x.png");
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-width: 728px) {
    min-height: 620px;
    background-image: none;
    display: flex;
  }
}

.about__wrapper {
  @media (min-width: 728px) {
    width: 350px;
  }

  @media (min-width: 1200px) {
    width: 690px;
  }
}

.about__title {
  @include section-title;
}

.about__description--first {
  @media (min-width: 728px) {
    font-size: 28px;
    line-height: 33px;
  }
}

.about__description--second {
  font-weight: 700;

  @media (min-width: 728px) {
    font-size: 21px;
    line-height: 25px;
  }
}

.about__link {
  display: none;

  @media (min-width: 728px) {
    display: inline-block;
  }
}
