.about {
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.about__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
