.button {
  // display: inline-block;

  background-color: #ffd74b;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #1d2e5b;

  border-radius: 10px;

  @media (min-width: 720px) {
    font-size: 24px;
    line-height: 24px;
  }
}
