.calendar__month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 12px 0 10px 0;
  color: #1d2e5b;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  border-top: 1px solid #d4d9eb;
  border-bottom: 1px solid #d4d9eb;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 22px 18px 22px 18px;
  }
}

.calendar__table {
  /* border: 1px solid black; */
  border-collapse: collapse;
  /* table-layout: fixed; */
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.calendar__table td {
  border: 1px solid #d4d9eb;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 77px;
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 144px;
    height: 72px;
    text-align: left;
    vertical-align: top;
    padding: 15px;
  }
}

.calendar__weekdays td {
  border: none;

  @media (min-width: $desktop-width) {
    height: 55px;
  }
}

.calendar__weekend {
  color: #ff5c23;
}

.calendar__day {
  background-color: #edeff6;
}

.calendar__day--disabled {
  background: transparent;
  opacity: 0.3;
}

.calendar__day--chosen {
  background-color: #1d2e5b;
  color: #ffffff;
}

.calendar__day:hover {
  cursor: pointer;
  border: 2px solid #ff5c23;
}

.calendar__month-button {
  cursor: pointer;
  width: 9px;
  height: 18px;
  border: none;
  background-color: transparent;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 19px;
    height: 34px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__month-button--left {
  // top: 12px;
  // left: 0;
  background-image: url("../../img/month-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.calendar__month-button--right {
  // top: 12px;
  // right: 0;
  background-image: url("../../img/month-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center right;
}
