.contacts {
  background-color: #ffd74b;

  iframe {
    width: 100%;
    border: none;
    margin-top: 123px;

    @media (min-width: $tablet-width) {
      margin-top: 300px;
      height: 531px;
    }
  }
}

.contacts__phone-email-wrapper {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 688px;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
  }
}

.contacts__phone-email-background {
  // min-height: 200px; //не забыть
  background-color: #192144;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.contacts__promo {
  margin: 0;
  white-space: pre-line;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 33px;
    white-space: normal;
    margin-bottom: 52px;
  }
}

.contacts__contacts-list {
  margin: 20px 0 30px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.contacts__address-route-link-background {
  width: 100%;
  position: absolute;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #ffd74b;
  // z-index: 7000;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 85px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.contacts__address-route-link-wrapper {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 35px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 688px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.contacts__address-wrapper {
  display: flex;
  margin-bottom: 32px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.contacts__address-icon {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-color: #121936;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: #ffd74b;
  }

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 25px;

    svg {
      width: 21px;
      height: 32px;
    }
  }
}

.contacts__address {
  margin: 0;
  text-transform: uppercase;
  color: #192144;
  font-weight: 700;
  white-space: pre-line;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 28px;
    white-space: normal;
  }
}

.contacts__route-link {
  display: block;
  border: 3px solid;
  box-sizing: border-box;
  // padding: 21px 0 18px 21px;
  padding: 22px 0 18px 21px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-left: 33px;
    padding-bottom: 26px;
  }
}

.contacts__route-link-icon {
  top: 30px;
  right: 34px;
}
