.contacts-list {
  list-style: none;

  // margin: 0;
  padding: 0;
  width: 270px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #192144;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    // display: none;
  }
}

.contacts-list__item {
  padding: 17px 0 17px 60px;
}

.contacts-list__email {
  color: #192144;
}
