.filter {
  // временно спрятал
  // display: none;
  width: 270px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.filter__alphabet {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 245px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid #cbced9; */
  box-sizing: border-box;
  /* width: 220px; */
}

.filter__alphabet-item {
  width: 44px;
  height: 42px;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid #cbced9;
}
