.how-it-works {
  background-image: linear-gradient(to bottom, transparent, transparent 80px, #192144 80px);

  @media (min-width: 768px) {
    // background-image: linear-gradient(to bottom, transparent, transparent 140px, #192144 140px);
    background-image: linear-gradient(to bottom, transparent, transparent 130px, #192144 130px);
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

// .how-it-works {
//   padding-bottom: 40px;

//   @media (min-width: $tablet-width) {
//     padding-bottom: 100px;
//     margin-top: -140px;
//   }

//   @media (min-width: $desktop-width) {
//     // добавить центровку и это убрать
//     width: 1320px;
//     margin: 0 auto;
//     padding-bottom: 123px;
//   }
// }

.how-it-works__list {
  counter-reset: counter;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 270px;
  border-radius: 10px;
  // background-image: linear-gradient(to bottom, #ff8d30, #ffd74b);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 688px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    // background-image: linear-gradient(to right, #ff8d30, #ffd74b);
  }
}

.how-it-works__item {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #161c35;

  box-sizing: border-box;
  padding: 22px 95px 32px 25px;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -10px;

  &:last-child {
    border-radius: 10px;
    padding-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    // width: 344px;
    width: 365px;
    // padding: 31px 0 60px 34px;
    padding: 31px 90px 68px 34px;
  }

  @media (min-width: $desktop-width) {
    // width: 315px;
    width: 345px;
    padding: 24px 90px 31px 30px;
    border-radius: 15px;
  }

  &::before {
    content: counter(counter);
    counter-increment: counter;

    color: #ffffff;
    position: absolute;
    top: 23px;
    right: 23px;

    @media (min-width: 768px) {
      top: initial;
      bottom: 33px;
      left: 36px;
    }

    @media (min-width: $desktop-width) {
      top: 29px;
      right: 33px;
      bottom: initial;
      left: initial;
    }
  }

  // &:last-child {
  //   border-radius: 10px;
  //   padding-bottom: 23px;
  // }
}

.how-it-works__item--first {
  background-color: #ff8d30;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 0;
  }

  @media (min-width: $desktop-width) {
    width: 345px;
    padding: 24px 90px 31px 34px;
    border-radius: 0;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;

    &::before {
      top: 23px;
      right: 64px;
    }
  }
}

.how-it-works__item--second {
  background-color: #ffa530;

  @media (min-width: $tablet-width) {
    width: 344px;
    border-top-left-radius: 18px;
    margin-left: -22px;
    border-top-right-radius: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    margin-left: -30px;
    border-radius: 0;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;

    &::before {
      top: 23px;
      right: 47px;
      left: initial;
      bottom: initial;
    }
  }
}

.how-it-works__item--third {
  background-color: #ffbd30;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    margin-left: -17px;
    border-top-left-radius: 18px;
  }

  &::before {
    top: 23px;
    right: 47px;
    left: initial;
    bottom: initial;
  }
}

.how-it-works__item--fourth {
  background-color: #ffd74b;

  @media (min-width: $tablet-width) {
    width: 344px;
    margin-left: -22px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
    margin-left: -14px;
    border-radius: 18px;

    &::before {
      top: 23px;
      right: 34px;
    }
  }
}
