.how-it-works__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.how-it-works__item {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  padding: 23px 95px 23px 25px;
}

.how-it-works__item--first {
  background-color: #ff8d30;
}

.how-it-works__item--second {
  background-color: #ffa530;
}

.how-it-works__item--third {
  background-color: #ffbd30;
}

.how-it-works__item--fourth {
  background-color: #ffd74b;
}
