.intro {
  padding-top: 20px;
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-position: top -71px center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    background-image: url("../../img/globe-back-tablet@1x.jpg");
    background-position: bottom 243px center;
    background-color: #182044;
  }

  @media (min-width: 1200px) {
    background-image: url("../../img/globe-back-desktop@1x.jpg");
    background-position: bottom;
    padding-bottom: 0;
    background-color: #161c35;
  }
}

.intro__wrapper {
  background-image: url("../../img/traveller-illustration-mobile@1x.png");
  background-size: 192px 255px;
  background-position: 79px 132px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../../img/traveller-illustration-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/traveller-illustration-tablet@1x.png");
    // background-size: 372px 471px;
    background-size: 372px 451px;
    // background-position: 285px 228px;
    background-position: 284px 244px;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/traveller-illustration-tablet@2x.png");
    }
  }


  @media (min-width: $desktop-width) {
    background-image: url("../../img/traveller-illustration-desktop@1x.png");
    background-size: 431px 640px;
    background-position: bottom left 553px;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/traveller-illustration-desktop@2x.png");
    }

    width: 1320px;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.intro__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
  // padding-top: 35px;
  padding-bottom: 265px;
  width: 237px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    width: 400px;
    padding: 0;
    // padding-bottom: 85px;
    // padding-bottom: 88px;
    padding-bottom: 40px;
  }

  @media (min-width: 1200px) {
    margin: 0;
    text-align: left;
  }
}

.intro__review-contacts-wrapper {
  position: relative;
  background-color: #161c35;

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.intro__user-contacts {
  position: absolute;
  // top: -20px;
  top: -18px;
  left: 25px;
}

.intro__contacts {
  display: flex;
  margin: 0;
}

.intro__review {
  // padding: 50px 0 30px 0;
  padding: 48px 0 40px 0;

  @media (min-width: $tablet-width) {
    // padding: 0;
    // padding-bottom: 213px;
    padding-left: 34px;
    padding-bottom: 221px;
  }
}

.intro__how-it-works {
  padding-bottom: 40px;

  @media (min-width: 728px) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    // добавить центровку и это убрать
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 123px;
  }
}

.intro__login-link {
  padding: 0;
  padding-top: 5px;
}
