.navigation {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item--login a {
  color: #161c35;
}
