.page-header {
  display: flex;
  flex-direction: column;

  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-width: 1200px) {
    // flex-direction: row;
  }
}

.page-header__logo {
  display: block;
  width: 100px;
  height: 19px;

  @media (min-width: 768px) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: 1200px) {
    width: 200px;
    height: 52px;
  }
}

.page-header__pognali-logo {
  width: 100px;
  height: 19px;
}

.page-header__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
