.page-main {
  @media (min-width: 1200px) {
    // background-color: #192144;
    // padding-top: 70px;
  }
}

.page-main__columns-wrapper {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    width: 1320px;
    margin: 0 auto;
    padding-top: 77px;
  }
}

.page-main--silver {
  background-color: #edeff6;
}

.page-main__title {
  margin: 0;
  background-color: #161c35;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  position: relative;

  &::after {
    content: "";
    width: 175px;
    height: 5px;
    background-color: #ff8d30;
    border-radius: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1;
  }
}
