.page-footer {
  // position: absolute;
  opacity: 0.99;
  width: 100%;
  // margin-top: -25px;
  margin-top: -50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  color: #444444;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -57px;
  }
}

.page-footer--form {
  margin: 0;
}

.page-footer__wrapper-elements {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 35px 0 14px 0;

  @media (min-width: $tablet-width) {
    width: 688px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 47px 0 45px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    padding: 44px 0 45px 0;
  }
}

.page-footer__logo {
  text-align: center;

  img {
    @media (min-width: $tablet-width) {
      width: 164px;
      height: 42px;
    }

    @media (min-width: $desktop-width) {
      width: 198px;
      height: 52px;
    }
  }
}

.page-footer__social {
  // margin: 40px 0 35px 0;
  margin: 34px 0 40px 0;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 46px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e2e5f2;
  // padding-top: 14px;
  padding-top: 5px;
  color: #444444;
  font-weight: 400;

  svg {
    fill: #192144;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: 155px;
    padding: 0;
    align-items: center;
  }
}

.page-footer__developer {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}
