.pagination {
  display: flex;
  background-color: #ffffff;
}

.pagination__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination__pages {
  display: none;

  @media (min-width: 728px) {
    display: flex;
  }
}
