.profile {
  background-color: #edeff6;
  width: 270px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 20px 0 40px 0;

  @media (min-width: $tablet-width) {
    width: 688px;
    padding: 60px 35px 35px 35px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    padding-right: 0;
    position: relative;
    padding-top: 75px;
  }
}

.profile__level {
  margin-left: 20px;
  margin-right: auto;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    order: 1;
    margin: 0;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 45px;
    position: absolute;
    top: -145px;
    right: 240px;
  }
}

.profile__photo-wrapper {
  margin-right: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    order: 3;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
    margin-right: 45px;
    position: absolute;
    top: -190px;
    right: 0;
  }
}

.profile__photo {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    border-radius: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: auto;
  }
}

.profile__change-photo-btn {
  width: 100%;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #dfe3f0;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #161c35;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.profile__change-photo-btn--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    padding-top: 13px;
    padding-bottom: 14px;
    border-radius: initial;
  }
}

.profile__form {
  width: 100%;
}

.profile__fieldset {
  // padding: 26px 32px 25px 26px;
  margin: 0;
  position: relative;
  border-radius: 15px;
}

.profile__fieldset--hashtags {
  border: none;
  padding: 0;
  margin-bottom: 25px;
  width: 100%;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    order: 5;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    margin-bottom: 0;
  }
}

.profile__fieldset--transport {
  box-sizing: border-box;
  border: 1px solid #cbced9;
  padding: 15px 0 15px 0;
  width: 100%;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    order: 2;
    width: auto;
    flex-grow: 1;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 0 25px 0;
  }

  @media (min-width: $desktop-width) {
    width: 395px;
    margin-left: auto;
  }
}

.profile__legend {
  left: 107px;
  top: -12px;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 70px;
  text-align: center;
  line-height: 18px;
  color: #1d2e5b;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #edeff6;
}

.profile__hashtags {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 26px 32px 25px 26px;
  resize: none;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #cbced9;

  @media (min-width: $tablet-width) {
    padding: 35px 40px 35px 40px;
    font-size: 20px;
    line-height: 24px;
    height: 94px;
    overflow: hidden;
  }
}
