.service {
  background-image: url("../../img/about-mobile@1x.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.service__title {
  @include section-title;
}

.service__description--second {
  font-weight: 700;
}
