.site-list {
  // margin: 0;
  // padding: 0;

  list-style: none;

  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1200px) {
    flex-direction: row;
    width: auto;
  }
}

.site-list__item a {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  color: #192144;

  @media (min-width: 1200px) {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
  }
}
