.travelmates__title {
  @include section-title;
}

.travelmates__description--second {
  font-weight: 700;
}

.travelmates__show-all {
  padding: 24px 132px 24px 24px;
}

.travelmates__show-more {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.travelmates__pagination {
  background-color: #ffffff;
}
