.travellers {
  list-style: none;

  margin: 0;
  padding: 0;

  color: #444444;

  @media (min-width: 728px) {
    display: flex;
    justify-content: space-between;
    padding: 0 35px 0 35px;
  }

  @media (min-width: 1200px) {
    width: 630px;
    padding: 0;
  }
}

.travellers--inner-page {
  flex-direction: column;

  @media (min-width: 1200px) {
    width: 975px;
  }
}

.travellers__item {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    width: 285px;
    margin: 0;
  }
}

.travellers__level {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 16px;
}

.travellers__level--transparent {
  background-color: transparent;
  // color: #1d2e5b;
}

.travellers__level-value {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.travellers__level-value--blue {
  color: #1d2e5b;
}

.travellers__level-caption {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.travellers__level-caption--silver {
  color: #444444;
}

.travellers__image {
  border-radius: 10px;

  @media (min-width: 768px) {
    width: 285px;
    height: 285px;
  }
}

.travellers__item-wrapper {
  padding: 25px 45px 20px 45px;

  @media (min-width: 768px) {
    padding: 25px 30px 20px 30px;
  }
}

.travellers__name {
  margin: 0 0 15px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #1d2e5b;
  padding-left: 20px;

  @media (min-width: 728px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.travellers__hashtags {
  margin: 0 0 15px 0;
  text-align: center;

  @media (min-width: 728px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.travellers__likes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #161c35;
}

.travellers__invite {
  font-size: 17px;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
}
