.user-list {
  list-style: none;

  width: 270px;

  display: flex;
  flex-direction: column;
}

.user-list__login {
  display: block;
  background-color: #ffd74b;
  width: auto;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #161c35;
  text-align: center;

  padding: 10px;

  border-radius: 25px;
}

.user-list__login:hover {
  background-color: #ffbd30;
}

.user-list__login:active {
  color: transparentize(#161c35, 0.3);
}
