.wish-list {
  list-style: none;
  padding: 0;
  padding-top: 20px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: 728px) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    flex-direction: column;
  }
}

.wish-list__item {
  position: relative;
  padding-left: 40px;
  // padding-top: 6px;
  padding-bottom: 13px;

  @media (min-width: 768px) {
    padding-right: 29px;
    padding-left: 50px;
  }
}

.wish-list__flag {
  position: absolute;
  left: 0;
  top: -1px;

  @media (min-width: 768px) {
    width: 35px;
    height: 24px;
    top: 2px;
  }
}
