.wish-list {
  list-style: none;
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;

  @media (min-width: 728px) {
    display: flex;
    flex-direction: row;
  }
}

.wish-list__item {
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 13px;
}
